name: "haos-kiosk-custom"
description: "Start X server and browser on local HAOS server and display dashboards in kiosk mode (atila593)"
version: "1.1.3"
slug: "haos-kiosk-custom"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

startup: application
host_network: true
init: false
ingress: true
homeassistant_api: true
auth_api: true
full_access: true
udev: true

privileged:
  - SYS_ADMIN
  - NET_ADMIN

# Simplification des accès matériels (plus robuste)
devices:
  - /dev:/dev
  - /dev/input:/dev/input
  - /dev/dri:/dev/dri
  - /dev/snd:/dev/snd

map:
  - addon_config:rw

options:
  ha_url: "http://localhost:8123"
  ha_dashboard: ""
  ha_username: ""
  ha_password: ""
  login_delay: 3.0
  zoom_level: 100
  browser_refresh: 600
  screen_timeout: 0
  output_number: 1
  dark_mode: true
  ha_sidebar: "none"
  rotate_display: "normal"
  map_touch_inputs: true
  keyboard_layout: "fr"
  cursor_timeout: 5
  onscreen_keyboard: true
  save_onscreen_config: true
  xorg_conf: ""
  xorg_append_replace: "append"
  allow_user_commands: false
  rest_port: 8080
  rest_bearer_token: ""
  debug_mode: false

schema:
  ha_url: str
  ha_dashboard: str?
  ha_username: str?
  ha_password: password?
  login_delay: float(0,)
  zoom_level: int(10,1000)
  browser_refresh: int(0,)
  screen_timeout: int(0,)
  output_number: int(1,2)
  dark_mode: bool
  ha_sidebar: list(full|narrow|none)
  rotate_display: list(normal|left|right|inverted)
  map_touch_inputs: bool
  cursor_timeout: int
  keyboard_layout: str
  onscreen_keyboard: bool
  save_onscreen_config: bool
  xorg_conf: str?
  xorg_append_replace: list(append|replace)
  rest_port: int(1024,49151)
  rest_bearer_token: password?
  allow_user_commands: bool
  debug_mode: bool

environment:
  DISPLAY: ":0"
